.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px;
}

.skeleton_top {
    display: flex;
}

.skeleton__circle {
    background-color: var(--grey-2);
    width: 64px;
    height: 64px;
    border-radius: 32px;
    box-sizing: border-box;
}

.skeleton__top-right {
    padding-left: 16px;
    flex-grow: 1;
}

.skeleton__row {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
    margin-top: 8px;
}

.skeleton__row-first {
    width: 39%;
}

.skeleton__row-second {
    width: 57%;
}

.skeleton__row-third {
    width: 97%;
    margin-top: 24px
}

.skeleton__row-fourth {
    width: 89%;
}
